.chatroom-pane{
    display: flex;
    border-radius: 60px;
    justify-content: space-around;
    text-align: center;
    /* align-items: center; */
    background-color: white;
    padding: 2rem 0;
    flex-direction: column;
    color: black;
    /* border: 3px solid #AB92BF; */


}
.chatroom-container{
    border: none;
    font-family: var(--ff-sans-primary);
    background-color: inherit;
    border-radius: 60px;
    margin-inline: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1.5rem;    
    width: 90%;
    text-align: left;
    margin-inline: auto;
    /* background-color: red; */
    

}
.chatroom-header{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatroom-title{
    font-size: 25px;
    margin-inline: 20px;
}
.chatroom-img{
    width: 55px;
    border-radius: 30%;
    aspect-ratio: 1;
    /* margin-right: 2rem; */
    text-align: left;
}
.chatroom-btn{
    /* font-size: 20px; */
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}
.chatroom-container:hover{
    color: #1996ea;
}

.delete-chatroom{
    background: none;
    border: none;
    
}

.fa-trash:hover{
    /* width: 15px; */
    color: rgb(245, 56, 56);
    /* background-color: red; */
}

.selected-chatroom{
    background-color: rgb(226, 220, 220);
    border-radius: 10px;
}
.chatroom-box{
    padding: 10px 0;

}
.modal-header{
    color: black;
}