.chatroom-pane{
    display: flex;
    border-radius: 60px;
    justify-content: space-around;
    text-align: center;
    /* align-items: center; */
    background-color: white;
    padding: 2rem 0;
    flex-direction: column;
    color: black;
    /* border: 3px solid #AB92BF; */


}
.chatroom-container{
    border: none;
    font-family: var(--ff-sans-primary);
    background-color: white;
    border-radius: 60px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    

}

.chatroom-title{
    font-size: 25px
}
.chatroom-img{
    width: 55px;
    border-radius: 30%;
    aspect-ratio: 1;
    /* margin-right: 2rem; */
    text-align: left;
}
.chatroom-btn{
    /* font-size: 20px; */
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}
.chatroom-container:hover{
    color: #1996ea;
}